.filepond--credits {
  display: none;
}

.filepond--file {
  background-color: #8001ff;
}

.filepond-action {
  cursor: pointer;
  text-decoration: underline;
}
.filepond-action:hover {
  color: #8001ff;
}
